/* COLORS:
red: #DB0404
orange-red: #F24827
dark red: #830908
black: #1A0D0D
white: #EDEDEB
gray: #7B7C7C */

.poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #EDEDEB;
  border: 2px solid #F24827;
  border-radius: 3px;
  padding: 6%;
  cursor: pointer;
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 1s; 
}
.poster:hover { transform: scale(1.1); }

.poster-rating {
  transition: transform 1s; 
}
.poster-rating:hover { transform: scale(1.3) }

.poster-img {
  width: 80%;
  height: 60%;
}

.poster-rating {
  color: #F24827;
  font-weight: bold;
  font-size: 1.3vw;
  height: 20%;
}
.poster-title {
  font-size: 2.5vh;
  height: 20%;
}

@media screen and (max-width: 425px) {
  .poster-rating {
    font-size: 3vw;
  }
  .poster-title {
    font-size: 3em
  }

.poster {
  height: 25vh;
}
}
