.poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  padding: 2%;
  cursor: pointer;
}

.poster-img {
  width: 80%;
}

.poster-rating {
  color: red;
  font-weight: bold;
}
