main {
  padding-bottom: 30%;
}

.posters-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  margin: 0 5% 0 5%;
}

.loading {
  color: red;
}

@media screen and (max-width: 1024px) {
  main {
    padding-bottom: 50%;
  }

  .posters-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 425px) {
  main {
    padding-bottom: 125%;
  }

  .posters-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: .3%;
    margin: 0 2% 0 2%;
  }
}

@media screen and (max-width: 320px) {
  main {
    padding-bottom: 400%;
  }

  .posters-container {
    grid-template-columns: 1fr;
    grid-row-gap: .2%;
    margin: 0 15% 0 15%;
  }
}
