/* COLORS:
red: #DB0404
orange-red: #F24827
dark red: #830908
white: #EDEDEB
gray: #7B7C7C */

header {
  /* background-color: #DB0404; */
  margin: 10%;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 5.5em;
  color: #F24827;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  width: 70%;
  margin: 3%;
  text-align: center;
  border: #DB0404 dashed 3px;
  border-radius: 3px;
  padding: 3%;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2em;
  }
}
