/* COLORS:
red: #DB0404
orange-red: #F24827
dark red: #830908
white: #EDEDEB
gray: #7B7C7C
dark gray: #1A1A1A */

header {
  background: linear-gradient(#1A1A1A, #000000);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 4%;
}

h1 {
  margin: 0;
  padding: 3% 3% 3% 1%;
  font-size: 3em;
  color: #F24827;
  font-weight: normal;
}

.tomatillos {
  font-weight: bold;
}

.giphy-embed {
  pointer-events: none;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  width: 70%;
  margin: 3%;
  text-align: center;
  border: #DB0404 dashed 3px;
  border-radius: 3px;
  padding: 3%;
}

@media screen and (max-width: 1440px) {
  h1 {
    padding: 5% 3% 5% 1%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    padding: 6% 3% 6% 2%;
  }
}

@media screen and (max-width: 425px) {
  header {
    justify-content: center;
    padding: 8%;
  }

  h1 {
    font-size: 2.2em;
    padding: 6% 3% 6% 5%;
  }
}

@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.2em;
  }

  .tomatillos {
    display: inline-block;
  }
}
